    *{
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
    }
    .main_box{
        background: url("Screenshot\ 2025-08-10\ 155726.png");
        height: 100vh;
        background-size: cover; 
    }
    #check{
        display: none;
    }
    .btn_one i{
       color: black;
       font-size: 30px;
       font-weight: 700; 
       position: absolute;
       left: 16px;
       line-height: 60px;
       /* z-index: 1; */
       cursor: pointer;
       transition: all 0.2s linear;
    }
    .sidebar_menu{
        position: fixed;
        left: -350px;
        height: 100vh;
        width: 300px;
        background-color: darkgray;
        box-shadow: 0 0 2px gray;
        /* border: 1px solid black; */
        transition: all 0.4s linear; 
    }
    .sidebar_menu .logo{
        position: absolute;
        width: 100%;
        line-height: 60px;
        box-shadow:  0 0 4px rgba(255,255,255,0.5);
        height: 65px;
    }
    .sidebar_menu .logo a{
        position: absolute;
        left: 35px;
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
    }
 .sidebar_menu .btn_two i{
    color: gray;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    opacity: 0;
    cursor: pointer;
 }
 .sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 60px;
 }
 .sidebar_menu .menu li{
    padding: 15px 20px;
    margin-top: 6px;
 }
 .sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
 }
 .sidebar_menu .menu i{
    padding-right: 10px;
 }
 .sidebar_menu .social_media{
    /* color: white;
    opacity: 0.5; */
    position: absolute;
    left: 25%;
    bottom: 35px;
 }
 .social_media a{
    margin-right: 10px;
    color: white;
    opacity: 0.5;
        }
.social_media a:hover{
    opacity: 1;       
    }
.social_media .fa-brands:hover{
    color: red;
    transform: scale(1.2);
}
 
 .sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255,255,255,0.6);
 }
 .btn_two i:hover{
    font-size: 30px;
    transition: all 0.3s linear;
 }
 .btn_one i:hover{
    font-size: 35px;
    transition: all 0.3s linear;
 }
 #check:checked ~ .sidebar_menu{
    left: 0;
 }
 #check:checked ~ .btn_one i{
    opacity: 0;
 }
 #check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
 }